.navLink {
    position: relative;
    
  }
  
  .navLink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 100%;
    height: 2px; 
    background-color: transparent; 
    transition: background-color 0.3s ease;
  }
  
  .navLink:hover::after {
    background-color: green; 
  }
  
  .navLink:hover{
    transform: scale(1.09);

  }
  .nav-item{
    padding-left: 40px;
  }
  .guvi img {
    width: 50px; 
    height: auto; 
  }
  
  h4 {
    display: inline-flex;
    align-items: center;
  }

  button{
    border: solid 1px black;
    margin: 20px;
    margin-right: 10px;  
  }

  .signup{
    background-color: #0CA543;
    color: white;
    font-weight: 600;
  }

  .signup:hover{
    transform: scale(1.09);
    background-color: #08682b;
    color: white;

  }
  .login{
    color: #0DBA4B;
    font-weight: 600;
  }

  .login:hover{
    color: #08682b;
    outline: none;
  }

  .inputBox{
    height: 7vh;
    margin-top: 25px;
    padding: 5px;
    border-radius: 2px;
    border: solid 1px #0DBA4B;
    outline: none;
    padding: 5px; 
  }

  .inputBox:hover{
    color: #08682b;
  }
  
  .searchbtn{
    height: 7vh;
    margin-top: 25px;
    background-color: #0CA543;
    color: white;
    font-weight: 600;
  }

  .searchbtn:hover{
    transform: scale(1.09);
    background-color: #08682b;
    color: white;
  }
  @media only screen and (max-width: 600px) {
    .nav-item {
      padding-left: 0; 
    }
  
    button {
      margin-left: auto;
    }
  }
  


  